doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title WSM Events
    link(rel='stylesheet', href='../css/estilos.css')
    link(rel='stylesheet', type='text/css', href='../css/accordion.css')
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand|Montserrat|")
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/simple-sidebar.css', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js") 
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
    script(type="text/javascript" src="../js/consulta1.js")
  body
    #wrapper
      // Sidebar
      #sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
             a(href='../index' style="color:#C17617;") WSM Events
          li
            a(href='consulta1' style="color:#fff; background: rgba(190,132,7,0.47);")
              i(style="color:#C17617;").fa.fa-user.fa-lg
              |   Buscar cliente
          li
            a(href='consulta2') 
              i(style="color:#C17617;").fa.fa-users.fa-lg
              |   Buscar clientes por pasatiempo
          li
            a(href='consulta3') 
              i(style="color:#C17617;").fa.fa-futbol-o.fa-lg
              |   Pasatiempos
          li
            a(href='consulta4')
              i(style="color:#C17617;").fa.fa-headphones.fa-lg 
              |   Gustos musicales
          li
            a(href='consulta5')
              i(style="color:#C17617;").fa.fa-music.fa-lg 
              |   Preferencias Gustos musicales
          li
            a(href='consulta6')
              i(style="color:#C17617;").fa.fa-cutlery.fa-lg 
              |   Lista de todas las comidas
          li
            a(href='consulta7')
              i(style="color:#C17617;").fa.fa-coffee.fa-lg 
              |   Preferencias Comida
          li
            a(href='#' style=" font-size: 17px; color:#fff; background: rgba(190,132,7,0.1);")
              i(style="color:#C17617;").fa.fa-align-left.fa-lg 
              |   Registro de conteo general
          li
            a(href='comidas')
              i(style="color:#C17617; margin-left:2em;").fa.fa-align-left.fa-lg 
              |   Comidas
          li
            a(href='musica')
              i(style="color:#C17617; margin-left:2em;").fa.fa-align-left.fa-lg 
              |   Gustos Musicales
          li
            a(href='pasatiempos')
              i(style="color:#C17617; margin-left:2em;").fa.fa-align-left.fa-lg 
              |   Pasatiempos
      #page-content-wrapper
        .container-fluid 
          .row
            .col-lg-12
              .accordion
                ul
                  li
                    input.accordion-select(type='radio', name='select', checked='')
                    .accordion-title
                      span Buscar cliente
                    .accordion-content 
                      span Seleccione un cliente:
                      div(class="caja")
                        select#listaClientes
                          option ----
                          each c in clienteCorreo
                            option(value=c[1])= c[0] + " - " + c[1]
                      div(class="tabla")
                        table#tablaCliente.table
                          tbody
                            tr
                              th.th Nombre:  
                              td#nombreC1.td(value="")
                            tr
                              th.th Correo: 
                              td#correoC1.td(value="") 
                            tr
                              th.th Preferencias de Comidas: 
                              td#comidasC1.td(value="") 
                            tr
                              th.th Preferencias Musicales: 
                              td#musicaC1.td(value="") 
                            tr
                              th.th Pasatiempos: 
                              td#pasatiemposC1.td(value="")                 
                    .accordion-separator
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js', integrity='sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==', crossorigin='anonymous')
